
.project-title {
    margin: 28px 28px 16px 28px;;
    @include mobile {
        margin-top: 20px;
      }
}

.investor-avatar {
  width: 150px;  
  height: 120px; 
  object-fit: cover; 
}


.created-form ul {
    width: 280px;
}


.swiper-button-prev,
.swiper-button-next {
  color: $primary-800
}

.swiper-slide {
  height: auto !important;
}

.card {
  height: 100% !important;
}


  .popular-card-body {
    padding: 32px 24px 20px;
    max-height: 304px;
  }
  
  .popular-card-title {
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.11em; 
  }

  
  .industry-card {
    height: 120px;
    padding: 12px;
    font-weight: bolder;
    display: flex;
    justify-content: end;
    align-items: end;
    h5 {
      color: $gray-100;
      line-height: 30px;
      font-weight: bold;
      letter-spacing: 6%;
    }
    @include mobile {
      width: 100%;
      height: 100px;
    }
  }

  .bg-green {
    position: relative;
  }
  
  .bg-green::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://dream-workshop-api.onrender.com/assets/images/bg-halo.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3; 
    z-index: -1; 
  }
