.checkout-form {
<<<<<<< HEAD
    border:0.5px solid $gray-400;
=======
    // border:0.5px solid $gray-400;
>>>>>>> 1cb2e74 (進度更新)
    backdrop-filter: blur(10px);
    color: $gray-200;
    form {
        @include mobile {
            max-width: 100%;
        }
    }   
}

<<<<<<< HEAD
=======
.form-check-input:checked {
    background-color: $primary-600 !important;
    border: 1px solid $gray-100;
    box-shadow: none !important;
  }

>>>>>>> 1cb2e74 (進度更新)
.pay-btn {
    border: 2px solid $gray-100;
    color: $primary-600;
    &:hover {
        border : 2px solid $primary-600;
    }
}

.invoice-tab {
    .nav-link {
        color: $gray-100;
        &:hover {
            color: $gray-100;
        }
    }
}

.checkout-input {
  background-color: #333333b2;
  color: $gray-100;
  padding: 13px 24px;
  border: 2px solid $gray-100;
  border-radius: 0%;
<<<<<<< HEAD
=======
  &:focus {
    background-color: #333333b2;
    color: $gray-100;
    border: 2px solid $primary-600;
  }
  &::placeholder {
    color: $gray-400;
  }
>>>>>>> 1cb2e74 (進度更新)
}