@import 'bootstrap-icons/font/bootstrap-icons.css';


.pay-banner {
    // margin-top: 150px;
    margin-bottom: 100px;
    max-width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include pad {
        margin-top: 100px;
        margin-bottom: 100px;
        height: 400px;
    }
    @include mobile {
        margin-top: 100px;
        margin-bottom: 50px;
        height: 200px;
    }
}

.points-btn {
    background-color: $gray-800;
    color: $gray-100;
    // border: 2px solid $gray-200;
    width: 100%;
    padding: 28px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        border: 1px solid $primary-600;
        background-color: $gray-600;
        color: $primary-600;
    }
}

.coin-img {
    width: 80px;
    height: 80px;
}

.buy-alert {
    background-color: $gray-800;
    padding-inline: 60px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 400px;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}