.ck-editor__editable_inline {
    min-height: 800px;
  }
  .ck-content {
    background-color: $gray-800!important;
  }
  .ck-content p,h1,h2,h3,ul,li {
    color: $gray-200;
  }

  .ck-toolbar {
    color:$gray-800!important;
  }

  .ck-button {
    color: $primary-600!important;
  }