@import "../../styles/all";

.header {
    color: $gray-100;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .container {
      @include pad {
        display: none;
      }
    }
    
  }


  .list-icon {
    font-size: 48px;
    color: $gray-100;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 56px;
  
    .nav-link {
      color: $gray-100;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1px; 
      transition: color 0.2s ease;
  
      &:hover {
        color: $primary-600;
      }
    }
  
    @media (max-width: 991px) {
      gap: 24px;
    }
  
    @media (max-width: 768px) {
      gap: 12px;
    }

  }
  
<<<<<<< HEAD
  .nav-link.active {
    color: let(--primary-600);
    font-weight: bold;
  }
=======
>>>>>>> 203eb8546c82ce3aeab4ebdb39b342f610788bad
  
  .login-btn {
    padding: 16px 24px;
    //styleName: Bold/text & button M;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.09em;
  }

<<<<<<< HEAD
  .member-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
=======

  

>>>>>>> 203eb8546c82ce3aeab4ebdb39b342f610788bad
