@import "../../styles/all";

.project-title {
    margin: 28px 28px 16px 28px;;
    @include mobile {
        margin-top: 20px;
      }
}

<<<<<<< HEAD
.investor-avatar {
  width: 150px;  
  height: 120px; 
  object-fit: cover; 
}
=======
>>>>>>> 1cb2e74 (進度更新)


.created-form ul {
    width: 280px;
}

// .solid{
//     margin-left: 28px;
//     margin-right: 28px;
// }


//   .banner-content {
//     width: 606px;
//   }
  
//   //  banner-input
//   .banner-search {
//     @include mobile {
//       flex-direction: column;
//     }
//   }
//   .banner-input {
//     width: 41.25%;
//     background-color: #333333b2;
//     color: $gray-100;
//     padding: 13px 24px;
//     border: 2px solid $gray-100;
//     border-radius: 0%;
//     &:focus {
//       background-color: #333333b2;
//       color: $gray-100;
//       border: 2px solid $primary-600;
//     }
//     &::placeholder {
//       color: $gray-100;
//     }
//   }
  
//   .search-dropdown {
//     width: 33.66%;
//   }
  
//   .dropdown-btn {
//     background-color: $gray-800;
//     color: $gray-100;
//     padding: 13px 24px;
//     border: 2px solid $gray-100;
//     border-radius: 0px;
//     width: 100%;
//     &:hover {
//       background-color: $gray-800;
//       color: $gray-100;
//       border: 2px solid $primary-600;
//     }
//     &:focus {
//       background-color: #333333b2;
//       color: $gray-100;
//       border: 2px solid $primary-600;
//     }
//   }
  
//   .dropdown-menu {
//     background-color: $gray-800;
//     border-radius: 0px;
//     width: 100%;
//     .dropdown-hover:hover {
//       outline: 2px dashed #43e1bf;
//     }
//     .dropdown-item {
//       padding: 13px 24px;
//       &:hover {
//         background-color: $gray-800;
//         color: $gray-100;
//       }
//     }
//   }
  
//   .search-btn {
//     width: 120px;
//     padding: 13px 24px;
//   }
  
//   .n-icon::after {
//     display: none;
//   }
  

//   .features {
//     padding-inline: 125px;
//     @include mobile {
//       padding-inline: 12px;
//     }
//   }
  
//   .feature-title {
//     @include mobile {
//       font-size: 28px;
//     }
//   }
  
//   .feature-icon {
//     border-radius: 80px;
//     width: 80px;
//     height: 80px;
//     background-color: $gray-800;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 auto;
//   }
  
//   .feature-content {
//     font-size: 20px;
//     line-height: 30px;
//     color: $gray-200;
//   }
  
//   .swiper-slide {
//     height: 100%;
//   }
  
  
//   .businessSwiper {
//     max-width: 1168px;
//   }
  
//   .business-swiper {
//     width: 280px;
//   }
<<<<<<< HEAD

.swiper-button-prev,
.swiper-button-next {
  color: $primary-800
}

.swiper-slide {
  height: auto !important;
}

.card {
  height: 100% !important;
}


=======
>>>>>>> 1cb2e74 (進度更新)
  .popular-card-body {
    padding: 32px 24px 20px;
    max-height: 304px;
  }
  
  .popular-card-title {
    font-weight: bold;
    line-height: 36px;
<<<<<<< HEAD
    letter-spacing: 0.11em; 
=======
    letter-spacing: 11%;
>>>>>>> 1cb2e74 (進度更新)
  }
  
  // .favorite {
  //   position: absolute;
  //   top: 21px;
  //   right: 20px;
  // }
  
//   .swiper-button-next,
//   .swiper-button-prev {
//     @include mobile {
//       display: none;
//     }
//   }
  
//   .field-slogan {
//     @include mobile {
//       font-size: $h5-font-size;
//     }
//   }
  
  .industry-card {
    height: 120px;
    padding: 12px;
    font-weight: bolder;
    display: flex;
    justify-content: end;
    align-items: end;
    h5 {
      color: $gray-100;
      line-height: 30px;
      font-weight: bold;
      letter-spacing: 6%;
    }
    @include mobile {
      width: 100%;
      height: 100px;
    }
  }

  .bg-green {
    position: relative;
  }
  
  .bg-green::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/bg-halo.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3; 
    z-index: -1; 
  }
